@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital@1&family=Varela+Round&display=swap');

* {
    font-family: 'Lexend', sans-serif;
font-family: 'Lora', serif;
font-family: 'Varela Round', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #1E1E1E;

}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 500px;
    margin: auto;
}

.navigation a{
    text-decoration: none;
    color: #a59b9b;
    font-size: 1.3em;
    font-weight: 400;
    padding-left: 30px;
    margin: auto;
    font-family: lexend;
}

.navigation a:hover{
    color:#F1BBB6;
}

section{
    padding-top: 100px;
}

.title{
    margin: auto;
    width: 100%;
    min-height: 100vh;
    
    }

 .h1{
    color: #F1BBB6;
    text-align: center;
    font-size: 4em;
    width: 100%;
    font-weight: 800px;
    justify-content: center;
    font-family: lexend;

}   

.h2 {
    color: white;
    text-align: center;
    padding-top: 18x;
    font-size: 2.7em;
    font-family: lexend;
    font-weight: 400;
    justify-content: center;
}


img {
    max-width: 60%;
    align-content: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.picture a{
    background-color: #6A6A6B;
    text-decoration: none;
    font-family: lexend;
    color: white;
    font-size: 1.35em;
    font-weight: 600;
    display: inline-block;
    padding: 0.6375em 1.7375em;
    letter-spacing: 2px;
    border-radius: 30px;
    position: absolute;
    bottom: 61%;
    left: 20%;
    
    
}

.picture:hover a{
    background-color: #F1BBB6;
    transform: scale(0.9);
    transition: 0.7s ease;

}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: lexend;
    


    
}

h3 {
    margin-bottom: 60px;
    font-size: 1.8em;
    font-family: lexend;
    
}

.icons {
    background-color: #1E1E1E;
    width: 5.5em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15);
    border-radius: 30px;
    font-size: 2.5em;
    text-align: center;
    padding: 8px;
    margin-left: 42.5%;
    

}




.mypic {
    display: block;
    margin-right: 23%;
    margin-top: -4%;
    height: 491px;
    width: 300px;
    
}

.farah{
    display: block;
    text-align: justify;
    font-size: 1.8em;
    font-family: lexend;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0%;
    color: #6A6A6B;
    margin-top: -34.5%;
    margin-left: 15%;
    margin-right: 50%;
    
    
}

.pictures {
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 600px;
    margin-left: 15%;
    margin-top: -2%;
    
    


}

.buttons a{

    background-color: #6A6A6B;
    text-decoration: none;
    font-family: lexend;
    color: white;
    font-size: 1.35em;
    font-weight: 600;
    padding: 0.6375em 1.7375em;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-left: 29%;
    position: absolute;
    top: 84%;
    

}

.buttons:hover a{
    background-color: #F1BBB6;
    transform: scale(0.9);
    transition: 0.7s ease;
}




#pic2 {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 91%;
    margin-top: -68%;
}

.button2 a{
    background-color: #6A6A6B;
    text-decoration: none;
    font-family: lexend;
    color: white;
    font-size: 1.35em;
    font-weight: 600;
    padding: 0.8375em 1.7375em;
    letter-spacing: normal;
    border-radius: 30px;
    margin-left: 57%;
    position: absolute;
    top: 83%;
    

    
    
}

.button2:hover a{
    background-color: #F1BBB6;
    transform: scale(0.9);
    transition: 0.7s ease;
}

*{
    margin: 0%;
    border: 0ch;
}

.image-grid {
--gap: 16px;
--num-cols: 4;
--row-height: 300px;

box-sizing: border-box;
padding: var(--gap);

display: grid;
grid-template-columns: repeat(var(--num-cols), 1fr);
grid-auto-rows: var(--row-height);
gap:var(--gap)

}

.image-grid img {
width: 100%;
height: 100%;
object-fit: cover;


}

.image-grid-col-2 {
grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.logos{
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 600px;
    margin-left: 15%;
    margin-top: -2%;

}

#ramaid{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 91%;
    margin-top: -66.3%;

}

.gdbuttons a{
    background-color: #6A6A6B;
    text-decoration: none;
    font-family: lexend;
    color: white;
    font-size: 1.35em;
    font-weight: 600;
    padding: 0.8375em 1.7375em;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-left: 31%;
    position: absolute;
    top: 83%;  
}

.gdbuttons:hover a{
    background-color: #F1BBB6;
    transform: scale(0.9);
    transition: 0.7s ease;
}

.gdbutton2 a{
    background-color: #6A6A6B;
    text-decoration: none;
    font-family: lexend;
    color: white;
    font-size: 1.35em;
    font-weight: 600;
    padding: 0.8375em 1.7375em;
    letter-spacing: normal;
    border-radius: 30px;
    margin-left: 60.5%;
    position: absolute;
    top: 83%;
}



.gdbutton2:hover a{
    background-color: #F1BBB6;
    transform: scale(0.9);
    transition: 0.7s ease;
}



    
    .t2eparagraph{
    
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 2em;
    font-family: lexend;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0%;
    color: #6A6A6B;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 27%;
    
    

        
    }

    